body {
  background: #b3b1af;
  padding: 200px 0;
}

/* form {
  margin-top: 400px;
} */

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.navbar {
  background-color: #b3b1af;
}

nav a {
  color: rgb(8, 8, 8);
  margin-left: 10px;
  font-size: large;
}

.fab {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fab:hover {
  opacity: 0.7;
}

footer .fab {
  /* background: #070707; */
  color: #180757;
}

.footer {
  background-color: #b3b1af;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 50px;
}

.footer p {
  margin-bottom: 5px;
  font-weight: 500;
}

.display-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.profile {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  padding: 50px;
  margin-top: 60px;
}

.profile img {
  width: 200px;
  margin-bottom: 40px;
}
